html,
body {
  padding: 0;
  margin: 0;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Ibarra Real Nova', serif;
  src: url(../theme/fonts/Ibarra_Real_Nova/IbarraRealNova-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Public Sans', sans-serif;
  src: url(../theme/fonts/Public_Sans/PublicSans-VariableFont_wght.ttf);
}